<link rel="stylesheet" href="/css/user_profile.css">
<!-- <html>

<head>
    <title>
        <%= title%>
    </title>
</head>

<body>
    <%- include('_header'); %> -->
        <h1>Code bar / <%= title%>

        </h1>
     <!-- <%- include('_footer'); %>

</body>

</html> -->